<html>
<head>
<meta property="og:image" content='http://newrooms.tigerapps.org/static/newrooms/rooms_screenshot.jpg'>
<meta property="og:url" itemprop="url" content="http://rooms.tigerapps.org">
<meta property="og:type" content="website" />
<meta property="og:title" itemprop="name" content="Princeton Student Room Guide" />
<meta property="og:description" itemprop="description" content="Find your perfect room with this floor plan browser.">
<meta property="og:site_name" content="USG Rooms Guide" />
</head>
<body></body>
</html>